@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap");

/* Base */
html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* Grid */
.app-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "header header header header header header header header projects projects projects projects"
    "main main main main main main main main projects projects projects projects"
    "footer footer footer footer footer footer footer footer projects projects projects projects";
}

/* Navbar */
.navbar,
.main-content, html {
    background-color: rgba(254, 247, 238);
}

.navbar {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 10px 60px;
}

.nav-content,
.social-media {
    display: flex;
    gap: 100px;
}

.social-media {
    gap: 20px;
}

.navbar a,
.social-media a {
    color: black;
    text-decoration: none;
}

/* About */
.main-content {
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    padding: 0 60px;
}

.personal-photo img {
    width: 250px;
    object-fit: cover;
}

.title-div {
    display: flex;
    gap: 15px;
}

.title-div h1 {
    margin-bottom: 0;
}

.title-div a {
    align-self: end;
    padding-bottom: 6px;
    text-decoration: dashed;
}

/* Button */
.info-btn button {
    background: linear-gradient(90deg, rgb(233, 181, 68) 23%, rgba(34, 195, 166, 1) 80%);
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    width: 170px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

/* Projects */
.proj-container {
    grid-area: projects;
    background: linear-gradient(
            to bottom,
            rgba(254, 247, 238) 0%,
            rgba(254, 247, 238) 100%,
            #ffffff
    );
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(249, 196, 81);
    border-radius: 25px 25px 0 25px;
    height: 100%;
    margin: 1px 0 0;
}

.list-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Card */
.card {
    width: 350px;
    margin: 10px 0;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.2s ease;
    position: relative;
}

.card:hover {
    transform: translateY(-5px);
}

.card-image-container {
    width: 100%;
    height: 140px;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    padding: 1rem 1rem 0;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title-container {
    display: flex;
    flex-direction: column;
}

.title-container h2 {
    font-size: 1.1rem;
    margin: 0;
    color: #333;
}

.title-container .category {
    font-size: 0.85rem;
    color: #777;
}

.title-container .stack {
    font-size: 0.85rem;
    color: #999;
}

.card-btn {
    z-index: 1;
    display: block;
    background-color: #78bf79;
    color: white;
    padding: 10px;
    margin-top: auto;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s;
    text-decoration: none;
}

.card-btn:hover {
    background-color: #66a867;
}

.card-btn a {
    color: white;
    text-decoration: none;
}

.card-open-link {
    position: absolute;
    inset: 0;
    z-index: 1;
}

/* Footer */
.footer-container {
    grid-area: footer;
    background: linear-gradient(
            to bottom,
            rgba(254, 247, 238) 0%,
            rgba(254, 247, 238) 20%,
            #ffffff
    );
}

.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0 0 60px;
    border-radius: 25px;
    background-color: #ffffff;
    height: 100%;
}

/* ProjectPage */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
}

.container h1{
    font-size: 2rem;
    color: #444;
}

.wrapper{
    display: flex;
    align-items: center;
}

.icon{
    padding: 40px;
    font-size: 3rem;
    color: #444;
}

.icon:hover{
    animation: 3s infinite alternate slide-in;
}

.list-projects{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 80px;
}

/* Media queries */

/* Small devices (phones 335px–576px) */
@media (min-width: 335px) and (max-width: 576px) {
    .navbar,
    .main-content {
        padding: 15px;
    }

    .navbar {
        flex-direction: row;
    }

    .nav-content,
    .social-media {
        align-items: center;
        gap: 20px;
    }

    .main-content {
        text-align: center;
        padding: 10px 40px 70px;
        flex-direction: column;
    }

    .proj-container {
        padding-bottom: 23px;
    }

    .projects {
        padding: 10px;
    }

    .app-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
      "header"
      "main"
      "projects"
      "footer";
    }

    .card {
        width: 100%;
    }

    .personal-photo img {
        width: 165px;
    }
}

/* Medium devices (tablets 576px–992px) */
@media (min-width: 576px) and (max-width: 992px) {
    .app-grid {
        display: flex;
        flex-direction: column;
    }

    .main-content {
        padding: 30px 50px;
    }

    .projects {
        gap: 30px;
        padding-bottom: 50px;
    }

    .card {
        width: 65%;
    }
}

