@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.app-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header header header header header header header header header"
    "main main main main main main main main projects projects projects projects" 
    "footer footer footer footer footer footer footer footer projects projects projects projects";
}

.navbar, .main-content{
  background-color: rgba(255, 228, 196, 0.863);
}

/* HEADER */

.navbar {
  grid-area: header;
  grid-column: 1 / 13;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.nav-content, .social-media{
  display: flex;
  gap: 100px;
}

.social-media{
  gap: 20px;
}

/* ABOUT COMPONENT */
.title-div{
  display: flex;
  gap: 10px;
}

.title-div button{
  border: none;
  background-color: transparent;
  margin-top: 1rem;
}

.title-div h1{
  margin-bottom: 0px;
}


.main-content {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 60px;
  flex-direction: row-reverse;
}

.personal-photo img {
  width: 250px;
}


/* PROJECT */
.proj-container{
  grid-area: projects;
  background: linear-gradient(to bottom, rgba(255, 228, 196, 0.863) 0%, rgba(255, 228, 196, 0.863) 20%, #ffffff );
}

.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffe46d;
  border-radius: 25px 25px 0px;
  height: 100%;
}

.list-projects{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.normal-card{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}


/* FOOTER */

.footer-container{
  grid-area: footer;
  background: linear-gradient(to bottom, rgba(255, 228, 196, 0.863) 0%, rgba(255, 228, 196, 0.863) 20%, #ffffff );
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  background-color: #ffffff;
  height: 100%;
}